.bundle
*.sw[nop]
.gitconfig.d/user
.gitconfig.d/local
.config/gh/hosts.yml
.config/github-copilot
.config/nvim/lazy-lock.json
.config/opencpn
.config/tmux/plugins
.config/tmux/tmux-sensible/
.config/tmux/tmux-tokyo-night
.config/tmux/tpm/
.config/tmux/user.conf
.config/tmux/vim-tmux-navigator/
